@tailwind base;
@tailwind components;
@tailwind utilities;


 


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wavy__line {
  text-decoration: underline;
  -webkit-text-decoration-color: #742cbd;
  text-decoration-color: #742cbd;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

.animation-delay-2000{
  animation-delay:2s;
}
.animation-delay-4000{
  animation-delay:4s;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
  background-color:black;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
